.Starts-Mens{
    height:380px; width:320px; margin:auto;
    border: 1px solid transparent;
    background:"grey";
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.detail{
    display:flex; 
    justify-content: space-around;
}
.imge{
    height:80px;
    width:160px;
}
